.item {
  height: 38px;
  width: 338px;
  border-top: 1px solid #d2d6d9;
  background: white;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 5px 0px;
  cursor: pointer;
}

.button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bold {
  font-weight: bold;
}