.inputWrapper {
  height: 48px;
  width: 338px;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 240px;
  border: none;
  outline: none;
  font-size: 16px;
  height: 25px;
}

.button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}